<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uvote.app.raghav.com.uvote.uvote">

    <application
        android:allowBackup="true"
        android:icon="@drawable/vote"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="uvote.app.raghav.com.uvote.MainActivity"></activity>
        <activity android:name="uvote.app.raghav.com.uvote.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="uvote.app.raghav.com.uvote.Register"></activity>
    </application>

</manifest>